<body  style="background-image: url(https://images.unsplash.com/photo-1526280760714-f9e8b26f318f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80); background-repeat: no-repeat;background-size: cover;">

 <link rel="stylesheet" href="style.css"/>
<div class="container">
      <div class="row">
        <div class="col">
          <h1 class="text">Login here</h1>
          <div class="jumbotron boxstyle" style="background: bottom;">
            <hr/>
            <form action="/login" method="POST">
              <div class="form-group">
                <label for="exampleInputEmail1"><b style="font-size: 25px;">enter email</b></label>
                <input type="email" class="form-control" id="exampleInputEmail1" name="email" placeholder="Enter your email">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1"><b style="font-size: 25px;">Password</b></label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Enter your Password">
              </div>
              <button type="submit" class="btn btn-secondary btn-lg">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</body>